# ---> Forge and Friends
.gradle
build/
run/
output/
tmp/
*.jks
*.cer

# ---> OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# ---> Windows
Thumbs.db
*.lnk

# ---> JetBrains
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml
*.ipr
*.iws
.idea/
classes

# ---> Eclipse
*.pydevproject
.metadata
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.factorypath
.buildpath
.target
.texlipse

## end ##